<template id="guest_view-home">
    <article id="article-index" class="article">
        <section class="first-section-content">
            <h1 class="display-5">Bienvenidx, visitantx!</h1>
        </section>
        <section class="section-content">
                <p>
                Bienvenidos al museo de la TEC 2, donde encontrara las mejores obras de la epoca de la hummanidad. 
                Podra registrarse a una de nuestras visitas guiadas donde uno de nuestros guias en el idioma que usted
                prefiera podra contarle la historias de nuestras obras como de la de nuestro museo. Antes de asisir puede
                ver nuestra visita Guiada Digital para hacerse una idea de las obras que podra encontrar. ¿Le gusta el renacentismo? 
                ¿Le gusta el classismo o las obra de Leonardo Davinci? Todo esto y mas podra verlo en nuestro museo. Los esperamos!!!!!!
                </p>
        </section>
        <section id="map-section-content" class="section-content">
            <h1>Mapa de las Instalaciones</h1>
            <div class="container">
                <div class="img__mapmuseo"></div>
                <div>
                    Aqui a nuestra derecha podra ver un mapa de nuestras instalaciones, La primera habitacion se trata sobre la epoca clasista, una epoca que viene en el arte despues barroco, donde los
                    artistas quieran volver a un estilo artistico y musical mas apegado a epocas anteriores, por esto el nombre de esta se la considera clasisismo. En la segunda habitacion es dedicada a la Gioconda
                    y las obras de Leonardo Davinci. Pero no contaremos mas, preferimos que usted vea por su propia cuenta las demas Exposiciones!!!
                </div>
            </div>
        </section>
    </article>
    <footer class="footer-default">Un proyecto para el INET 2022</footer>
</template>