<template id="guest_view-reserva">
    <article>
        <h1 class="h1-display-table">Fechas de Eventos</h1>
        <div class="container">
            <div class="row" id="row-1"></div>
            <div class="row" id="row-2"></div>
        </div>
    </article>

    <template id="card-content-reserva">
        <title-card>Subscribirse a Visita Guiada</title-card>
        <content-card>
            <input type="email" placeholder="Email" id="card-email" class="form-text-full">
            <input type="text" placeholder="Nombre..." id="card-nombre" class="form-text-inline">
            <input type="text" placeholder="Apellido..." id="card-apellido" class="form-text-inline">
            <input type="number" placeholder="DNI" id="card-dni" class="form-text-full">
            <input type="number" placeholder="Cant. Personas" id="card-cantidad" class="form-text-inline">
        </content-card>
    </template>
</template>

