<template id="admin_view-home">
    <article class="article" id="article">
        <h1 class="display-5">Bienvenido denuevo!</h1>
        <p>
            Recuerde que puede administrar los datos de las Visitas Guiadas, 
            como de los Guias. No olvide revisar los dni de los visitantes.
        </p>
    </article>
    <article class="article" id="article-content">
        <h2 class="display-3">Listado de Inscriptos</h2>
        <div class="container">
            <div  class="row" id="row-1"></div>
            <div  class="row" id="row-2"></div>
        </div>
        <button class="form-edit-xl">Recuperar un Registro</button>
    </article>
</template>