<template id="admin_view-salas">
    <article class="article" id="article-content">
        <h1 class="h1-display-table">Lista de Salas del Museo</h1>
        <div class="container">
            <div  class="row" id="row-1">
                <div id="recordlist-container"></div>
                <div class="dashboard-container">
                    <button id="add-table-button" class="form-submit-xl">Agregar</button>
                </div>
            </div>
            <div  class="row" id="row-2"></div>
        </div>
    </article>


    <template id="submit-card-content-sala">
        <title-card>Agregar Sala</title-card>
        <content-card>
            <input type="text" id="card-descripcion" name="descripcion" placeholder="Descripcion de Sala..." class="form-text">
        </content-card>
    </template>

    <template id="edit-card-content-sala">
        <title-card>Editar Sala</title-card>
        <content-card>
            <input type="text" id="card-descripcion" name="descripcion" placeholder="Descripcion de Sala..." class="form-text">
        </content-card>
    </template>
</template>