<template id="guest_view-visitadigital">
    <article class="article">
        <section class="small-container">
            <div class="content-card">
                <h1 class="title-content">La Gioconda</h1>
                <p class="content">
                    El retrato de Lisa Gherardini, esposa de 
                    Francesco del Giocondo, más conocido como La Gioconda o Monna Lisa, es una obra 
                    pictórica del polímata renacentista italiano Leonardo da Vinci.
                </p>
            </div>
            <div class="img-visita-digital-1">

            </div>
        </section>

        <section class="small-container">
            <div class="img-visita-digital-2">

            </div>
            <div class="content-card">
                <h1 class="title-content">La noche estrellada</h1>
                <p class="content">
                    La noche estrellada es un óleo sobre lienzo del pintor 
                    postimpresionista neerlandés Vincent van Gogh. Pintado en junio de 1889,
                    representa la vista desde la ventana orientada al este de su 
                    habitación de asilo en Saint-Rémy-de-Provence, 
                    justo antes del amanecer, con la adición de un pueblo imaginario.
                </p>
            </div>
        </section>

        <section class="small-container">
            <div class="content-card">
                <h1 class="title-content">La última cena</h1>
                <p class="content">
                    La última cena es una pintura mural original de 
                    Leonardo da Vinci ejecutada entre 1495 y 1498.
                    Se encuentra en la pared sobre la que se pintó
                    originalmente, en el refectorio del convento 
                    dominico de Santa Maria delle Grazie, en Milán, 
                    declarado Patrimonio de la Humanidad por la Unesco 
                    en 1980.
                </p>
            </div>
            <div class="img-visita-digital-3">

            </div>
        </section>
        <section class="small-container">
            <div class="img-visita-digital-4">

            </div>
            <div class="content-card">
                <h1 class="title-content">Desnudo bajando una escalera nº2</h1>
                <p class="content">
                    Desnudo bajando una escalera nº2 es una pintura de 1912 
                    por Marcel Duchamp. 
                    El trabajo es considerado como un clásico modernista y 
                    se ha convertido en uno de los más famosos de su tiempo.
                </p>
            </div>

        </section>
    </article>
</template>