<template id="nav-guest">
    <ul class="nav-bar_box">
        <li id="home" class="nav-bar_element nav-bar_icon">
            <a href="#">HOME</a>
        </li>
        <li  id="guest-reserva" class="nav-bar_element">
            <a href="#">HACER UNA RESERVA</a>
        </li>
        <li id="guest-visitaldigital" class="nav-bar_element">
            <a href="#">VISITA DIGITAL</a>
        </li>
        <li id="guest-accesibilidad" class="nav-bar_element">
            <a href="#">ACCESIBILIDAD</a>
        </li>
        <li id="access" class="nav-bar_element right">
            <a href="#">ACCEDER</a>
        </li>
    </ul>
</template>


<template id="nav-admin">
    <ul class="nav-bar_box">
        <li id="home" class="nav-bar_element">
            <a href="">HOME</a>
        </li>
        <li class="nav-bar_element">
            <a href="">HACER UNA RESERVA</a>
        </li>
        <li class="nav-bar_element">
            <a href="">VISITA DIGITAL</a>
        </li>
        <li class="nav-bar_element">
            <a href="">ACCESIBILIDAD</a>
        </li>
        <li id="access" class="nav-bar_element">
            <a href="">ACCEDER</a>
        </li>
    </ul>
</template>
