<template id="guest_view-accesibilidad">
    <article class="article">
        <section class="section-content">
            <h1 class="display-5">Accesibilidad en Museos</h1>
        </section>
        <section class="section-content">
            <p class="content">
                La Guía de Accesibilidad en Museos permite evaluar y proyectar la accesibilidad en distintos 
                tipos de instituciones patrimoniales y culturales, 
                mediante la presentación de herramientas de acceso tecnologicas.
            </p>
        </section>

        <div class="container">
            <div class="col">
                <h2 class="title-content">Discapacidad Visual</h2>
                <div class="icon-blind"></div>
                <p class="top-content">
                    Los problemas de visión son los más comunes en personas adultas. 
                    Problemas tales como, vista corta (miopía), hipermetropía, astigmatismo 
                    y presbicia e incluso la ceguera completa pueden llegar a aparecer.  
                    Estos problemas provocan dificultad para disfrutar las muestras de los museos. 
                    Por esa razon somos el primer museo de mar de plata que tiene funcionalidades para personas con dificultades 
                    visuales en todos sus niveles.
                </p>
            </div>
            <div class="col">

            </div>
        </div>

        <div class="container">
            <div class="col">
                <h2 class="title-content">Discapacidad Motriz</h2>
                <div class="icon-chair"></div>
                <p class="top-content">
                    Nuestro museo se encuentra completamente acoplado para personas con 
                    discapacidades motriz, queremos que el arte pueda llegar a todos y todas,
                    no importa su condicion. 
                    Porque el arte es una parte importante del ser humano 
                    y como seres humanos tenemos que tener el derecho de contemplar y conocer.
                </p>
            </div>
            <div class="col">

            </div>
        </div>
    </article>
</template>