<template id="record-list">
    <table id="content-table" class="table-date">
        <thead> 
            <tr id="record-head">

            </tr>
        </thead>
        <tbody id="record-body">

        </tbody>
    </table>
</template>

<!--

            const Table =  Generator.makeElement('table', {id: 'content-table', class: 'table-date'});

        const THead_tr = Generator.makeElement('tr')
        const THead =  Generator.makeElement('thead', {}, [THead_tr])
        headNames.forEach( title => {
            THead_tr.appendChild(Generator.makeElement('td', {}, [title]))
        })


-->